<app-navigation-menu></app-navigation-menu>
<div class="hmpgcontainer container-fluid">
  <div class="hmepgbdywrap">
    <div class="hmpginputwrap">
      <div class="sercinptdiv">
        <input
          type="search"
          class="searchinput"
          placeholder="Search for a country.."
        />
      </div>
      <div>
        <div controlId="formBasicEmail1" class="diff23">
          <select class="form-control hmpginputselect" name="Filter by Region">
            <option class="selectopt">Filter by Region</option>
            <option class="selectopt" value="Africa">Africa</option>
            <option class="selectopt" value="Europe">Europe</option>
            <option class="selectopt" value="Asia">Asia</option>
            <option class="selectopt" value="Americas">Americas</option>
            <option class="selectopt" value="Oceania">Oceania</option>
          </select>
        </div>
      </div>
    </div>
    <div class="homepgrow">
      <app-countries></app-countries>
    </div>
  </div>
</div>
